<!--Modal de educación-->
<div class="modal fade" id="edModal" tabindex="-1" aria-labelledby="edModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="edModalLabel">Agregar educación</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="educacionForm" (ngSubmit)="agregarEstudio()" method="POST" novalidate #form="ngForm">
            <input class="form-control" type="text" placeholder="Agregar una descripción de la educación" name="descripcion" id="descripcionEd" formControlName="descripcion" aria-label="default input example">
              <br>
              <input class="form-control" type="text" placeholder="Agregar el estado" name="estado" id="estadoEd" formControlName="estado" aria-label="default input example">
              <br>
              <input class="form-control" type="number" placeholder="año de fin" name="fin" id="finEd" formControlName="fin" aria-label="default input example">
              <br>
              <input class="form-control" type="number" placeholder="año de inicio " name="inicio" id="inicioEd" formControlName="inicio" aria-label="default input example">
              <br>
              <input class="form-control" type="text" placeholder="Agregar la institución" name="institucion" id="institucionEd" formControlName="institucion" aria-label="default input example">
              <br>
              <input class="form-control" type="text" placeholder="Agregar un título" name="titulo" id="tituloEd" formControlName="titulo" aria-label="default input example">
              <br>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-primary">Agregar</button>
                <button type="button" (click)="limpiar()" class="btn btn-primary">Limpiar</button>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>