 <!--Modal de proyectos-->
 <div class="modal fade" id="proyectosModal" tabindex="-1" aria-labelledby="proyectosModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="proyectosModalLabel">Editar proyecto</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="proyectoForm" (ngSubmit)="crearProyecto()" method="POST" novalidate #form="ngForm">
            <div class="mb-3">
              <label for="imagenProy" class="form-label">Agregar imagen y nombre del proyecto</label>
              <input class="form-control" type="url" placeholder="Agregar imagen" name="imagen" id="imagenProy" formControlName="imagen" aria-label="default input example">
              <br>
              <input class="form-control" type="text" placeholder="Agregar nombre" name="nombre" id="nombreProy" formControlName="nombre" aria-label="default input example">
            </div>
            <div class="mb-3">
              <label for="descripcionProy" class="form-label">Descripcion del proyecto</label>
              <input class="form-control" type="text" placeholder="Agregar descripcion" name="descripcion" id="descripcionProy" formControlName="descripcion" aria-label="default input example">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
              <button type="submit" class="btn btn-primary">Agregar</button>
              <button type="button" (click)="limpiar()" class="btn btn-primary">Limpiar</button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
