<!--Modal de Habilidad-->
<div class="modal fade" id="habilidadModal" tabindex="-1" aria-labelledby="habilidadModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="habilidadModalLabel">Agregar/eliminar habilidad</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <select class="form-select form-select-sm" aria-label=".form-select-sm example">
            <option selected>Agregar...</option>
            <option value="1">CSS</option>
            <option value="2">HTML</option>
            <option value="3">Angular</option>
            <option value="4">Bootstrap</option>
            <option value="5">Comunicación</option>
            <option value="6">Atención a los detalles</option>
            <option value="7">Cooperación</option>
          </select>
          <br>
          <input class="form-control" type="text" placeholder="Agregar habilidad input" aria-label="default input example">
          <br>
          <input class="form-control" type="number" placeholder="Grado de habilidad input" aria-label="default input example">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary">Borrar</button>
          <button type="button" class="btn btn-primary">Agregar y guardar</button>
        </div>
      </div>
    </div>
  </div>
