<!--Modal de Habilidad-->
<div class="modal fade" id="habilidadModal" tabindex="-1" aria-labelledby="habilidadModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="habilidadModalLabel">Nueva habilidad</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="habilidadForm" (ngSubmit)="agregarHabilidad()" method="POST" novalidate #form="ngForm">
            <input class="form-control" type="text" placeholder="Agregar nombre de la habilidad" name="nombre" id="nombreHab" formControlName="nombre" aria-label="default input example">
            <br>
            <input class="form-control" type="number" placeholder="Agregar el grado de habilidad (En número, sin porcentaje)" name="procentaje" id="procentajeHab" formControlName="procentaje" aria-label="default input example">
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
              <button type="submit" class="btn btn-primary">Agregar</button>
              <button type="button" (click)="limpiar()" class="btn btn-primary">Limpiar</button>
            </div>
        </form>
        </div>
      </div>
    </div>
  </div>
