<!--Proyectos-->
<h2 class="titulo_exp"> <b>Mis proyectos:</b> </h2>
<div class="box_secundaria" >
    
    <div class="card" style="width: 18rem;" *ngFor="let proyectos of proyectos">
      <img [src]="proyectos.imagen" class="card-img-top" alt="Este portfolio">
      <div class="card-body">
        <h5 class="card-title">{{ proyectos.nombre }}</h5>
        <p class="card-text">{{ proyectos.descripcion }}</p>
        <a href="http://127.0.0.1:5500/PortfolioFrontEnd/administrador.html" class="btn btn-dark">{{ proyectos.boton }}</a>
      </div>
    </div>
</div>

