
<!--Foto e info-->

<div class="foto_nombre">
    <img id="yo" src="../../../../assets/foto.jpg" alt="Lucía Feliú">
    <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#fotoinfoModal"><i class="fa-solid fa-pencil"></i></button> <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#fotoinfoModal"><i class="fa-solid fa-xmark"></i></button>
    <br>
    <h2 style="display:inline-flex;">Lucía Feliú</h2> <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#nombreModal"><i class="fa-solid fa-pencil"></i></button> <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#nombreModal"><i class="fa-solid fa-xmark"></i></button>

  </div>
  <div class="sobre_mi"> 
    <h3 style="display: inline;">Full Stack Developer Jr.</h3> <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#infoModal"><i class="fa-solid fa-pencil"></i></button> <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#infoModal"><i class="fa-solid fa-xmark"></i></button>
    <p> Actualmente estudiando Arquitectura en la Universidad Nacional de Córdoba, Argentina. <br> Realizando el curso de Argentina Programa, #YoProgramo.
    </p>

    </div>
    <app-fotoinfo></app-fotoinfo>
    <app-info></app-info>
