<div class="modal fade" id="editExpModal" tabindex="-1" aria-labelledby="editExpModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="editExpModalLabel">Editar una experiencia</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="experienciaForm" method="PUT" novalidate #form="ngForm">
            <input type="hidden" formControlName="id" name="id" id="id" formControlName="id">
            <input class="form-control" type="text" placeholder="Editar el área de la experiencia" name="area" id="area" formControlName="area">
              <br>
              <input class="form-control" type="text" placeholder="Editar la descripción" name="descripcion" id="descripcion" formControlName="descripcion" >
              <br>
              <input class="form-control" type="number" placeholder="año de fin" name="fin" id="fin" formControlName="fin">
              <br>
              <input class="form-control" type="number" placeholder="año de inicio " name="inicio" id="inicio" formControlName="inicio">
              <br>
              <input class="form-control" type="text" placeholder="Editar el título" name="titulo" id="titulo" formControlName="titulo">
              <br>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="submit" (click)="editarExperiencia()" class="btn btn-primary">Agregar</button>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>
