 <!--Modal experiencia-->
 <div class="modal fade" id="expModal" tabindex="-1" aria-labelledby="expModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="expModalLabel">Agregar una experiencia</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="experienciaForm" (ngSubmit)="agregarExperiencia()" method="POST" novalidate #form="ngForm">
              <input class="form-control" type="text" placeholder="Agregar el área de la experiencia" name="area" id="areaExp" formControlName="area" aria-label="default input example">
              <br>
              <input class="form-control" type="text" placeholder="Agregar una descripción" name="descripcion" id="descripcionExp" formControlName="descripcion" aria-label="default input example">
              <br>
              <input class="form-control" type="number" placeholder="año fin input" name="fin" id="finExp" formControlName="fin" aria-label="default input example">
              <br>
              <input class="form-control" type="number" placeholder="año inicio input" name="inicio" id="inicioExp" formControlName="inicio" aria-label="default input example">
              <br>
              <input class="form-control" type="text" placeholder="Agregar un título" name="titulo" id="tituloExp" formControlName="titulo" aria-label="default input example">
              <br>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-primary" >Agregar</button>
                <button type="button" (click)="limpiar()" class="btn btn-primary">Limpiar</button>
              </div> 
          </form>
        </div>
      </div>
    </div>
  </div>

  
