
    <nav class="navbar navbar-expand-lg bg-transparent fixed-top">
              <div class="container-fluid">
                <img src="../assets/logoAP4.0.png" alt="logo" width="12%" height="">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                 
                  <app-redes></app-redes>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#loginModal">
                    <i class="fas fa-gears"></i></button>
                 </div>
              </div>
            </nav>

            <app-login></app-login>
      
      
 
