 <!--Educacion-->
 <div class="box_secundaria"> <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#edModal"><i class="fa-solid fa-pencil"></i></button> <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#edModal"><i class="fa-solid fa-xmark"></i></button>
  <h2 class="titulo_exp">Educación</h2>
  <div class="box_secundaria">
      <div class="textos" *ngFor="let estudios of educaciones">
          <ul>
         <li>{{ estudios.inicio }}{{ estudios.fin }}- <b>{{ estudios.estado }}</b>{{ estudios.descripcion }} {{ estudios.institucion }}</li>
  
  
          </ul>
      </div>
  
    </div>

  <app-ed></app-ed>