 <!--Educacion-->
 <div class="box_secundaria"> 
  <hr>  
  <h2 class="titulo_exp">Educación
      <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#edModal"><i class="fa-solid fa-plus"></i></button> 
    </h2>
    <hr>
    <div class="contenedor_secundario">
      <div class="box_secundaria">
        <div class="textos" *ngFor="let educacion of educacion">
            <ul>
              <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#editEdModal"><i class="fa-solid fa-plus"></i></button> 
              <button type="submit"  class="btn btn-dark" (click)="delete(educacion.id)"><i class="fa-solid fa-xmark"></i></button>        
           <li>{{ educacion.inicio }}/{{ educacion.fin }}- <b>{{ educacion.estado }}</b>{{ educacion.descripcion }} {{ educacion.institucion }}</li>
    
    
            </ul>
        </div>
    
      </div>
    </div>
 
  <app-edit-ed></app-edit-ed>
  <app-ed></app-ed>