<div class="box_secundaria"><button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#expModal"><i class="fa-solid fa-pencil"></i></button> <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#borrarexpModal"><i class="fa-solid fa-xmark"></i></button>
    <h2> <b>Experiencia</b> </h2>
    <p class="contenedor_principal">
       <ul>
           <li class="lista"><b>2019  Pasantía en Municipalidad de Unquillo</b> <br> Área de Comunicación </li>
           <li>Encargada de recolectar fotos, testimonios, para notas en la página oficial.</li>
           <li>Administración y organización de archivos.</li>
           <br>
           <br>
           <li class="lista"> <b>2019/Actualidad   Revista "Autozoom"</b> <br>Diseño gráfico de publicidades </li>
           <li>Edición de fotos para clientes, folletos, tarjetas y páginas de la revista.</li>
           <br>
           <br>
           <li class="lista"> <b>2020/2021   "Santa Rita Handmade"</b> <br>Diseño y colaboración en equipo para la realización de un emprendimiento online. </li>
            <li>Edición de fotografía.</li>
            <li>Creación de publicaciones mensuales.</li>
            <li>Creación de página web.</li>
        </ul>
  

  </div>
  <br>
  <app-exp></app-exp>