<div class="modal fade" id="fotoinfoModal" tabindex="-1" aria-labelledby="fotoinfoLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="fotoinfoLabel">Cambiar fotografías y datos personales</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label for="formFileSm" class="form-label">Editar banner</label>
            <input class="form-control form-control-sm" id="formFileSm" type="file">
          </div>
          <div class="mb-3">
            <label for="formFileSm" class="form-label">Editar foto de perfil</label>
            <input class="form-control form-control-sm" id="formFileSm" type="file">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary">Guardar</button>
        </div>
      </div>
    </div>
  </div>
