<h2 class="titulo_exp">Habilidades <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#habilidadModal"><i class="fa-solid fa-pencil"></i></button> <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#habilidadModal"><i class="fa-solid fa-xmark"></i></button></h2>
<div class="box_secundaria" *ngFor="let habilidades of skills">
    <div class="progress" style="height: 20px;">
      <div class="progress-bar bg-warning" role="progressbar" aria-label="Warning example" style= "width: {{ habilidades.porcentaje }}%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">{{ habilidades.nombre }}</div>
    </div>
    <br>
 </div>
 <br>

 <app-habilidad></app-habilidad>